<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} [%p] [%t] [%c] - %m%n" />
    </layout>
  </appender>

  <appender name="CORE" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="logs/cxf-rest.log" />
    <param name="Append" value="true" />
    <param name="MaxFileSize" value="2MB"/>
    <param name="MaxBackupIndex" value="30"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p %t %c - %m%n"/>
    </layout>
  </appender>

  <root>
    <level value="ALL"/>
    <appender-ref ref="CORE"/>
    <appender-ref ref="CONSOLE"/>
  </root>
</log4j:configuration>
